/*
https: //github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/

:root {
	--vp-c-white-soft: hsl(200, 30%, 98%);
	--vp-c-white-mute: hsl(200, 30%, 95%);

	--vp-c-black: hsl(200, 30%, 7%);
	--vp-c-black-soft: hsl(200, 30%, 14%);
	--vp-c-black-mute: hsl(200, 30%, 18%);

	--vp-c-green: hsl(200, 100%, 60%);
	--vp-c-green-light: hsl(200, 100%, 65%);
	--vp-c-green-lighter: hsl(200, 100%, 70%);
	--vp-c-green-dark: hsl(200, 100%, 50%);
	--vp-c-green-darker: hsl(200, 100%, 30%);
	--vp-c-green-dimm-1: hsla(200, 100%, 60%, 0.5);
	--vp-c-green-dimm-2: hsla(200, 100%, 60%, 0.25);
	--vp-c-green-dimm-3: hsla(200, 100%, 60%, 0.05);

	--vp-c-green-1: hsl(200, 100%, 50%);
	--vp-c-green-2: hsl(200, 100%, 40%);
	--vp-c-green-3: hsl(200, 100%, 30%);

	--vp-c-indigo-1: hsl(200, 100%, 50%);
	--vp-c-indigo-2: hsl(200, 100%, 40%);
	--vp-c-indigo-3: hsl(200, 100%, 30%);
}
